html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: black;
}

#viewport {
  filter: sepia(50%);
  filter: saturate(60%);
  margin-top: 18vh;
  margin-left: 2.5vw;
  margin-bottom: 15vh;
  width: 25vw;
  height: 100vh;
  position: relative;
  overflow-x: auto;
  background-size: 102%;
  background-repeat: no-repeat;
  background-image: url("../images/petFlat.png");
}

#divPet {
  width: 128vw;
  height: 64vh;
  position: absolute;
}

#pet {
  width: 15%;
  scale: 200%;
  padding-left: 30%;
  padding-top: 13%;
}

#petStart {
  color: pink;
}

#divMessage {
  font-family: "Press Start 2P", cursive;
  font-size: 1.8vh;
  margin-top: 13vh;
  margin-left: 19vw;
  width: 40vw;
  height: 5vh;
  position: absolute;
}

#message {
  color: white;
}

#fitness {
  padding-right: 0%;
  width: 40vw;
  height: 30vh;
  justify-self: start;
  background-size: 90%;
  background-repeat: no-repeat;
  background-image: url("../images/10fitness.png");
}

#hunger {
  padding-bottom: 0%;
  width: 40vw;
  height: 30vh;
  align-self: end;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/0hunger.png");
}

#control {
  padding-top: 0vh;
  position: relative;
  display: flex;
  width: 30vh;
  align-items: end;
  height: 23vw;
  padding-left: 12.5vh;
  justify-content: space-between;
}

#computer {
  height: 100vh;
  width: 86vw;
  position: absolute;
}

.button {
  filter: contrast(70%);
  position: absolute;
  z-index: 1;
  top: 75vh;
  scale: 70%;
}

#button-pt {
  left: 37vw;
}

#button-evo {
  left: 29vw;
}

#button-exercise {
  left: 60vw;
  top: 77vh;
}

#button-pizza {
  left: 53vw;
}

#button-snack {
  left: 45vw;
}

#button-nightmode {
  position: absolute;
  font-family: "Press Start 2P", cursive;
  margin-left: 67.5vw;
  height: 15vh;
  width: 25vh;
  top: 64vh;
  font-size: 6vh;
  color: red;
  background-color: black;
}

#postit1 {
  position: absolute;
  display: block;
  font-family: "Gochi Hand", cursive;
  transform: rotate(-10deg);
  background-color: yellow;
  filter: contrast(70%);
  width: 20vh;
  height: 20vh;
  top: 55vh;
  margin-left: 34vw;
  text-align: center;
  z-index: 1;
}

@media only screen and (max-width: 1275px) {
  html {
    background-color: red;
  }
}
@media only screen and (max-width: 768px) {
  html {
    background-color: black;
    width: 100vw;
  }

  #viewport {
    position: absolute;
    filter: sepia(50%);
    filter: saturate(60%);
    left: 93vw;
    width: 80vw;
    height: 100vh;
    overflow-x: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/petFlat.png");
  }

  #computer {
    position: absolute;
    height: 100vh;
    left: 0vw;
    width: 260vw;
  }

  #postit1 {
    position: absolute;
    display: block;
    left: 120vw;
    font-size: 20px;
    font-family: "Gochi Hand", cursive;
    transform: rotate(-10deg);
    background-color: yellow;
    filter: contrast(70%);
    width: 10vh;
    height: 10vh;
    top: 55vh;
    text-align: center;
    z-index: 1;
  }

  #divMessage {
    position: absolute;
    font-family: "Press Start 2P", cursive;
    font-size: 1.4vh;
    left: 80vw;
    width: 80vw;
    height: 5vh;
  }

  #button-nightmode {
    position: absolute;
    font-family: "Press Start 2P", cursive;
    height: 13vh;
    top: 64vh;
    left: 144vw;
    font-size: 5vh;
    color: red;
    background-color: black;
  }

  #control {
    position: absolute;
    top: 50vh;
    right: 0vw;
    z-index: 1;
    width: 40vh;
    height: 23vw;
    }

    #button-pt {
      left: 84vw;
    }
    
    #button-evo {
      left: 60vw;
    }
    
    #button-exercise {
      left: 155vw;
      top: 77vh;
    }
    
    #button-pizza {
      left: 110vw;
    }
    
    #button-snack {
      left: 133vw;
    }
  
}
