
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items:center;
    background-color: black;    
}

#viewport {
    filter:sepia(50%);
    filter:saturate(60%);
    margin-top: 10%;
    margin-left: 2.5%;
    margin-bottom: 15%;
    width: 350px;
    height: 400px;
    position: relative;
    overflow-x: auto;
    background-size: 102%;
    display:absolute;
    flex-flow:column;
    background-repeat:no-repeat;
    background-image: url('../images/petFlat.png');
}

#divPet {
    width:128px;
    height:64px;
    position: absolute;
}

#pet {
    display: absolute;
    width: 15%;
    scale: 200%;
    padding-left:30%;
    padding-top:13%;
}

#petStart {
    color: pink;
}

#divMessage {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.8vh;
    margin-top: 6%;
    margin-left: 19%;
    width: 40%;
    height: 5%;
    position: absolute;
}

#message {
 color: white;
}

#fitness {
    padding-right: 0%;
    width: 40%;
    height: 30%;
    justify-self: start;
    background-size: 90%;
    background-repeat: no-repeat;
	background-image: url('../images/10fitness.png')
}

#hunger {
    padding-bottom: 0%;
    width: 40%;
    height: 30%;
    align-self: end;
    background-size: 100%;
    background-repeat: no-repeat;
	background-image: url('../images/0hunger.png')
}

#control {
    padding-top:0%;
    position:relative;
    display: flex;
    width: 90%;
    align-items: end;
    height: 40%;
    padding-left: 10%;
    justify-content: space-between;
}

#computer {
    height:100%;
    width:80%;
    position:absolute;
}

.button {
    filter:contrast(70%);
    position:absolute;
    z-index: 1;
    margin-top: 35%;
    scale: 85%;
}

#button-pt {
    padding-right: 20%;
}

#button-evo {
    margin-left: -15.1%;
}

#button-exercise {
    margin-left: 15%;
    margin-top: 36%;
}

#button-pizza {
    margin-left: 6.8%;
}

#button-snack {
    padding-right:3%;
}

#postit1 {
    font-family: 'Gochi Hand', cursive;
    transform: rotate(10deg);
    background-color:yellow;
    filter:contrast(70%);
    position:absolute;
    width:20vh;
    height:20vh;
    margin-left:58%;
    text-align: center;
    z-index: 1;
    margin-top: 9%;
}
